@font-face {
    font-family: "Vazir";
    src: url("./fonts/Vazir-FD.woff") format("woff"),
         url("./fonts/Vazir-FD.woff2") format("woff2"),
         url("./fonts/Vazir-FD.ttf") format("truetype"),
         url("./fonts/Vazir-FD.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Vazir";
    src: url("./webfonts/Vazir/Vazir-Bold-FD.woff") format("woff"),
         url("./webfonts/Vazir/Vazir-Bold-FD.woff2") format("woff2"),
         url("./webfonts/Vazir/Vazir-Bold-FD.ttf") format("truetype"),
         url("./webfonts/Vazir/Vazir-Bold-FD.eot") format("embedded-opentype");
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Vazir", 'Segoe UI', Tahoma, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #1f242d;
    --secondary-bg-color: #323946;
    --text-color: #fff;
    --primary-color: #0ef;
}


html {
    font-size: 62.5%;
}

body {
    direction: rtl;
    background: var(--bg-color);
    color: var(--text-color);
}

a, span {
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}
p {
    font-size: 1.5rem;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--secondary-bg-color);
    padding: 1rem 5%;
    z-index: 100;
    justify-content: space-between;
}

.header .logo {
    font-family: "Poppins", Arial;
    font-size: 3rem;
}

.active {
    color: var(--primary-color);
}

#menu-icon {
    display: none;
    cursor: pointer;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.justify-content-between {
    justify-content: space-between;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav > ul {
    display: flex;
    font-size: 1.6rem;
    gap: 3rem;
}

.header nav > ul > li > a {
    display: block;
    padding: 1rem;
    transition: 0.25s ease-in-out;
}

.header nav > ul > li > a:hover {
    color: var(--primary-color);
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    display: flex;
    height: 100vh;
    padding-top: 10rem;
    align-items: center;
    justify-content: center;
}

section h1 {
    margin-top: 10rem;
}

section h3 {
    color: var(--primary-color);
    padding: 1rem 0;
}

#home .btn {
    display: flex;
    font-size: 2rem;
    overflow: hidden;
    justify-content: center;
    margin-top: 2rem;
}

.btn a {
    position: relative;
    display: block;
    background: var(--secondary-bg-color);
    padding: 1rem;
    border-radius: 0.7rem;
    z-index: 1;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

.btn a::before {
    content: '';
    top: 0;
    right: 0;
    position: absolute;
    width: 0;
    height: 100%;
    background: var(--primary-color);
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.btn a:hover::before {
    width: 100%;
}

.btn a:hover {
    color: hsl(0, 0%, 10%);
}
.flex {
    display: flex;
    align-items: center;
}

.content {
    line-height: 2;
}

.home-img img{
    max-width: 30vw;
}

.social-icons {
    display: flex;
    margin-top: 7.5rem;
    gap: 2.5rem;
}

.social-icons a {
    display: block;
    transition: 0.2s ease-in-out;
}

.social-icons a:hover {
    color: var(--primary-color);
    text-shadow: 0 0 2rem var(--primary-color) ;
}

.education-img img {
    max-width: 30vw;
}

.skills-box {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.sb-item {
    background: var(--secondary-bg-color);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.sb-item h4 {
    direction: ltr;
    padding: 0 0 1rem;
    font-family: inherit;
}

.sb-item .bar {
    font-family: inherit;
}

.bar {
    margin: 0 auto;
    position: relative;
    width: 90%;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 1;
    color: var(--bg-color);
    font-size: 1.5rem;
}

.bar::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    background: var(--primary-color);
    z-index: -1;
}

#html::before {
    width: 100%;
}

#css::before {
    width: 80%;
}

#js::before {
    width: 75%;
}

#python::before {
    width: 90%;
}

#c::before {
    width: 60%;
}

.about-img img{
    max-width: 30vw;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form form {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1.7rem;
    margin: 2rem 0 1rem;
}

form input {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

form input[type="button"] {
    background: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form input[type="button"]:focus {
    box-shadow: none;
}

form input[type="button"]:hover {
    box-shadow: 0 0 1.5rem 0 var(--primary-color);
}

form textarea {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.footer {
    margin: 1rem 0 0;
    padding: 2rem 0;
    background: var(--secondary-bg-color);
}

.footer-container {
    display: flex;
    position: relative;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.go-up {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.go-up a {
    display: block;
    background: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
}

.go-up a:hover {
    box-shadow: 0 0 1.5rem 0 var(--primary-color);
}

.copyright {
    font-size: 1.5rem;
}

input, textarea {
    transition: 0.3s ease-in-out ;
}

input:focus, textarea:focus {
    box-shadow: 0 0 1.5rem 0 var(--primary-color);
}

@media (max-width: 770px) {
    html {
        font-size: 58%;
    }

    .header {
        flex-direction: column;
        background: rgba(31, 36, 45, 0.25);
        backdrop-filter: blur( 14px );
        -webkit-backdrop-filter: blur( 14px );
    }

    #menu-icon {
        display: block;
    }

    .header nav > ul {
        display: none;
        padding: 1rem 0;
        font-size: 1.85rem;
    }

    .header .container #menu-icon {
        display: block;
    }

    section {
        height: auto;
    }

    .flex {
        flex-direction: column;
    }

    .content {
        order: 1;
    }

    .home-img img {
        max-width: 37vw;
    }

    .social-icons {
        justify-content: space-around;
    }

    .education-img img {
        max-width: 40vw;
    }

    .content h2 {
        margin-bottom: 2rem;
    }

    .skills-box {
        margin: 1rem 0 0;
    }

    .about-img img {
        max-width: 40vw;
    }

    .contact-form form {
        width: 70vw;
    }
}

@media (max-width: 440px) {
    html {
        font-size: 53%;
    }
    .footer-container {
        flex-direction: column;
    }

    .go-up {
        position: static;
        margin-bottom: 2rem;
    }

    .header nav > ul {
        flex-direction: column;
    }
}